#home {
	background: linear-gradient(180deg, rgba(142,144,144,1) 0%, rgba(255,255,255,1) 100%);
	color: #084B8A;
}

.box{
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

section p {
	font-size: 1.5em;
	color: #000000;
}

footer p a{
	margin: 5px	15px;
}

